.toast-bx{
    /* max-width: 450px; */
    position: fixed;
    background: #ffff;
    padding: 20px 35px 20px 25px;
    border-radius: 12px;
    top: 80px;
    right: 30px;
    box-shadow: 0px 5px 10px rgba(0,0, 0, 0.1);
    border-left: 6px solid var(--primary-color);
    overflow: hidden;
    transform: translateX(calc(100% + 30px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    z-index: 1000;
}
.toast-bx.active{
transform: translateX(0%);
}
.toast-bx .content{
    align-items: center;
    display: flex;
}
.toast-bx .message{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}
.content .check{
    height: 35px;
    width: 35px;
    background: var(--primary-color);
    color: #ffff;
    border-radius: 50%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.message .text{
    font-size: 20px;
    font-weight: 400;
    color: #666666;
}
.message .text.text-1{
    font-weight: 600;
    color: #333;
}
.toast-bx .close{
    position: absolute;
    top: 10px;
    right: 15px;
    padding:5px ;
    font-size: 25px;
    cursor: pointer;
    opacity: 0.7;
}
.toast-bx .close:hover{
    opacity: 1;
}

.toast-bx .progress{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #ddd;
}
.toast-bx .progress:before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: var(--primary-color);
}
.progress.active:before{
    animation: progress 5s linear forwards;
}
.error.progress::before{
  background-color: #B00020;
}

.error.toast-bx{
  border-left-color: #B00020;
}

@keyframes progress {
    100%{
        right: 100%;
    }
}